<h1>New Comments</h1>

<div class="row">
	<div class="col-md-4">
		<p>Guildine for comments</p>
		<ul>
			<li>Make sure it is not offensive</li>
			<li>If you would not say it to your mother don't make the comment</li>
			<li>The incessant use of hashtags will get you banned.</li>
		</ul>
	</div>
	<div class="col-md-8">
		<%= render partial: 'form', locals: {topic: @topic, post: @post, comment: @comment} %>
	   </div>
	</div>


